@import "variables";
@import "mixins";
@import "breakpoints";
@media (min-width:1430px) and (max-width:1530px) {}

@media (max-width:767px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_banner {
        h1 {
            font-size: 45px;
            line-height: 50px;
        }
        .carousel-caption {
            text-align: center;
        }
        .buttons {
            justify-content: center;
        }
    }
    .footer-content {
        .footer-row {
            grid-template-columns: auto;
        }
        .footmenu {
            margin-right: auto;
            text-align: center;
        }
        .col1 {
            order: 2;
            display: flex;
            justify-content: center;
            padding-top: 25px;
        }
        .col2 {
            order: 1;
        }
        .col3 {
            order: 3;
        }
    }
    .meeting-wraper .filterWrap-meet {
        grid-template-columns: auto;
    }
    .meeting-wraper .filterWrap-meet .sm-padding {
        padding-top: 0;
    }
    .wp-block-spacer.space-100 {
        height: 10px !important;
    }
    .main_wrapper .wp-block-group .img_text_card_row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .wp-block-table td,
    .wp-block-advgb-table td {
        padding: 10px 10px !important;
        font-size: 12px;
    }
    .wp-block-table th,
    .wp-block-advgb-table th {
        font-size: 16px;
    }
    .faq_main .search-filter-title {
        grid-template-columns: auto;
    }
    .page_title {
        padding-bottom: 15px;
    }
    .for-desk {
        display: none;
    }
    .tripPlanner_wrap {
        width: 90%;
        left: 5%;
        right: 5%;
        overflow: hidden;
        .tripPlanner {
            padding: 20px;
        }
        .form-group {
            width: 100%;
        }
    }
    .innerHero {
        .fixmapAlert {
            left: 0%;
            transform: none;
            flex-wrap: nowrap;
            right: 0%;
            a {
                margin-right: 2px;
                padding: 6px 15px;
                display: flex;
                text-align: left;
                img {
                    max-width: 18px;
                }
            }
        }
    }
    .innerHero div#route_map {
        height: 250px !important;
    }
    .accoRt_block .rtTitle h3 {
        align-items: flex-start;
    }
    .general-tabs {
        .nav-tabs {
            .nav-item {
                width: 100%;
                padding: 0px 10px;
                margin-right: 0px;
                a {
                    font-size: 22px;
                    padding: 6px;
                    min-height: 10px;
                }
            }
        }
    }
    .advgb-tabs-wrapper.advgb-tab-vert-desktop div.advgb-tab-body {
        padding-left: 0 !important;
        padding-top: 10px;
    }
    .rt-modal .rt-time {
        min-width: 70px;
        font-size: 14px;
    }
    .page_title.resut_title {
        padding-top: 30px;
    }
    video {
        height: auto;
    }
    .news_detail {
        padding-top: 10px;
        h2 {
            font-size: 24px;
        }
    }
    .main_acco_title .date_meet {
        min-width: 80px;
        width: 80px;
    }
    .meeting-wraper .agd_filter .filter_right select {
        max-width: 100%;
        margin-left: 0;
    }
    .rp_content ul li {
        flex-wrap: wrap;
        a {
            width: 100%;
        }
        .category {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }
    }
    .slider_info {
        padding-top: 20px;
    }
    .howto {
        .container {}
    }
    .contact_wraper .contact-row .ct_right {
        padding-right: 0px;
    }
    .proc_wrap .proc_filter {
        display: block;
    }
    .accoRt_block .rtTitle h4 {
        align-items: flex-start;
    }
    .rtNo {
        min-width: 22px;
    }
    .allRouteinfo {
        padding-top: 30px;
    }
    .wp-embed-responsive .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
        display: none !important;
    }
    .wp-embed-responsive .wp-has-aspect-ratio iframe {
        position: static !important;
    }
    .meetingRow {
        min-height: 100px;
    }
    .newsimg img {
        height: auto;
    }
    .col-three label {
        display: none;
    }
    .accoRt_block .rtTitleWrap+p {
        min-width: 50px;
        padding: 0px;
    }
    .accoRt_block .rtTitle .accordion_sign {
        right: 10px;
        img {
            max-width: 18px;
        }
    }
    .main_search_content .search_box .asp_main_container {
        width: 100%;
    }
    .sort_boxResult {
        margin-left: 0;
    }
    .wp-block-image.alignright,
    .wp-block-image.alignleft {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    .contactcard_row.one .contact_col {
        min-width: 100%;
    }
    .contactcard_row .cont_inner {
        padding: 20px;
        min-height: 130px;
    }
    .contactcard_row .tel_em_fax {
        margin-top: 0px;
    }
    .back_next_posts .prev_link {
        position: static;
    }
    .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel {
        flex-wrap: wrap;
        overflow: hidden !important;
        .advgb-tab {
            width: 100%;
            min-width: 100px;
            min-height: 20px;
            a {
                font-size: 16px;
            }
        }
    }
    .advgb-tabs-wrapper ul.advgb-tabs-panel li.advgb-tab a {
        font-size: 16px;
    }
    .main_search_content .search_box .probox {
        min-width: 100%;
    }
    .signup_alerts_news form {
        display: block;
    }
    .filterWrap form {
        display: block !important;
        max-width: 100% !important;
    }
    .mt-img-wrap h3 {
        min-height: 10px;
    }
    .advgb-recent-posts-block.grid-view {
        padding-left: 20px;
        padding-right: 20px;
    }
    .advgb-recent-posts-block.list-view .advgb-recent-post--no-image .advgb-post-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .advgb-recent-posts-block.list-view .advgb-post-wrapper {
        padding-left: 20px;
        padding-top: 10px;
    }
    .slider-view .slick-prev {
        left: 0px !important;
    }
    .slider-view .slick-next {
        right: 0px !important;
    }
    .advgb-recent-posts-block.slider-view .advgb-recent-post {
        padding-left: 30px;
        padding-right: 30px;
    }
    .advgb-recent-posts-block.frontpage-view .advgb-recent-posts {
        display: block !important;
    }
    .advgb-recent-posts-block .advgb-post-title {
        min-height: 10px;
    }
    .advgb-recent-posts-block.frontpage-view .advgb-recent-posts .advgb-recent-post {
        margin-bottom: 15px;
    }
    .advgb-recent-posts-block.masonry-view .advgb-recent-post {
        width: 100% !important;
        position: static !important;
    }
    .advgb-recent-posts-block.grid-view .advgb-recent-posts,
    .advgb-recent-posts-block.list-view .advgb-recent-post {
        grid-template-columns: auto !important;
    }
    .advgb-recent-posts-block.list-view .advgb-recent-post {
        grid-row-gap: 0px !important;
    }
    .advgb-post-thumbnail a,
    .advgb-post-thumbnail a img {
        width: 100% !important;
        object-fit: cover;
    }
    .back_next_posts {
        display: block;
    }
    .cancel-info {
        padding: 1px 6px;
        font-size: 11px;
        min-width: 0px;
    }
    .main-tabs .nav-tabs li.current_page_item a::after {
        bottom: -4px;
    }
    .filterWrap {
        max-width: 100%;
        padding-left: 0px !important;
    }
    .innerHero .alert {
        transform: none;
        left: 0px;
        min-width: 100%;
    }
    .service_acco .main_acco_sv {
        padding-left: 15px;
    }
    .acco_panel {
        padding: 30px;
    }
    .main_acco_title .acco_title_info {
        padding-left: 15px;
        padding-right: 15px;
    }
    .meeting-wraper .agd_filter .filter_left,
    .meeting-wraper .agd_filter .filter_right {
        display: block;
        width: 100%;
    }
    .rt-modal .rt-modal-info {
        padding-left: 20px;
        padding-right: 20px;
    }
    .destination-info .dest-row {
        padding: 0px;
        flex-wrap: wrap;
    }
    .destination-info .input-group-one {
        flex: auto;
        width: 100%;
        max-width: 100%;
    }
    .destination-info .switch {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .route-detail-info .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .destination-info .input-group-one .form-control {
        font-size: 16px;
    }
    .accostpanel {
        overflow: auto;
    }
    .accostpanel table td {
        font-size: 12px;
        padding: 6px;
    }
    .accoRt_block .alerticon {
        left: 0px;
    }
    .wp-block-advgb-accordions .advgb-accordion-header .advgb-accordion-header-title {
        font-size: 16px;
    }
    .mt_row_wrap .mt_content .mt_img img {
        height: auto !important;
    }
    .img_text_card_row .img_text_card_col.one .text-img-wrap {
        grid-template-columns: auto;
    }
    .contactcard_row .contact_box .cont_img img {
        height: auto;
    }
    .wp-block-advgb-accordions .advgb-accordion-header {
        padding-left: 15px !important;
    }
    .advgb-accordion-header-icon img {
        max-width: 18px;
    }
    .simple_list_col {
        -ms-flex: 0 0 100% !important;
        -webkit-box-flex: 0 !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .expanding-grid .links>li {
        width: 100% !important
    }
    .img_button_row .img_btn_col,
    .img_text_card_row .img_text_card_col,
    .button_ico_col,
    .contact_col {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .text_card_block {
        height: auto !important;
    }
    .text-img-wrap.no-img .btn_sm {
        position: static;
    }
    .wp-block-group.is-content-justification-left>* {
        padding-left: 15px;
        padding-right: 15px;
    }
    .img_text_card_row.one .text-img-wrap {
        grid-template-columns: auto;
    }
    .news_wraper .search_filter_title,
    .news_wraper .search_filter_title .filterWrap {
        grid-template-columns: auto;
    }
    .filter_box.col-two label {
        display: none;
    }
    .artist_detail .artist_info {
        padding-right: 0;
    }
    .event_banner .evt_banner_content {
        padding: 30px 20px 30px 20px;
    }
    .event_wraper .event_top_filter {
        grid-template-columns: auto;
        grid-row-gap: 15px;
    }
    .resultWraper .searchFilterBlock {
        padding-top: 0;
    }
    .filterBlocks {
        padding-top: 20px;
    }
    .no-found-info h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .main_header .navbar-brand {
        font-size: 6px;
    }
    .topTitle.text-left {
        text-align: center !important;
        justify-content: center;
    }
    .more-detail {
        display: block;
        .link {
            margin-bottom: 20px;
        }
    }
    .expanding-grid .links>li {
        width: 100%;
    }
    .main_breadcrumb .container {
        padding-left: 15px;
    }
    .main_search_content {
        flex-wrap: wrap;
    }
    .main_search_content .h6 {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .main_search_content .form-control {
        min-width: 100%;
    }
    .text-img-wrap.no-img .btn_sm {
        position: static;
    }
    .search_filter_title {
        flex-wrap: wrap;
    }
    .search_filter_title .filter_box {
        margin-left: 0;
        margin-top: 10px;
        width: 100% !important;
    }
    .search_box {
        width: 100%;
        max-width: 100% !important;
    }
    .contactcard_row {
        margin: 0px;
    }
    .main_wrapper .main_breadcrumb .breadcrumb {
        padding-left: 20px;
        padding-right: 20px;
    }
    .newsRow .newsColumn,
    .news-grid .newsColumn {
        width: 100%;
    }
    .newsSort {
        margin-left: 0px !important;
        margin-top: 10px;
        max-width: 100% !important;
        width: 100% !important;
        margin-bottom: 0px;
    }
    .news_wraper .newsRow .newsColumn {
        width: 100%;
    }
    .main_search_content h3 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main_search_content .search_input {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:992px) {}

@media (min-width:768px) and (max-width:1024px) {
    .img_button_row .img_btn_col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .rt-modal .rt-modal-info {
        padding-left: 20px;
        padding-right: 20px;
    }
    .general-tabs {
        .tab-content {
            padding-left: 15px;
            padding-right: 15px;
        }
        .nav-tabs .nav-item a {
            min-width: 230px;
        }
        .table-row {
            grid-template-columns: 250px 250px auto;
        }
    }
    .advgb-recent-posts-block.grid-view .advgb-recent-posts {
        grid-template-columns: 1fr 1fr !important;
    }
    .nsRight .newsSort {
        width: 200px;
    }
    .filterWrap form {
        max-width: 100%;
        grid-template-columns: 1fr 160px 130px;
    }
    .search_filter_title .filter_box {
        margin-right: 4px !important;
    }
    .contact_col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .news_wraper .newsRow .newsColumn {
        width: 33.3%;
    }
    .advgb-recent-posts-block.grid-view .advgb-recent-posts {
        grid-template-columns: 1fr 1fr !important;
    }
    .img_button_row.four .img_btn_col,
    .img_text_card_row.four .img_text_card_col,
    .simple_list_info .row.four .simple_list_col,
    .contactcard_row.four .contact_col {
        -ms-flex: 0 0 33.3%;
        -webkit-box-flex: 0;
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .main_banner .carousel-item img {
        min-height: 500px;
    }
}

@media (min-width:768px) {
    .four .img_block {
        >a>img {
            height: 260px;
            object-fit: cover;
        }
    }
    .three .img_block {
        >a>img {
            object-fit: cover;
            height: 320px;
        }
    }
    .for-mob {
        display: none;
    }
}

@media (min-width:1200px) {
    .general-tabs .nav-tabs {
        flex-wrap: nowrap;
    }
    .logged-in .main_header {
        top: 30px;
    }
    .more-detail {
        padding-right: 10%;
    }
    .main_header .navbar-nav>li:last-child>.dropdown-menu {
        left: auto;
        right: -20px;
    }
    .logged-in .alert-area {
        top: 148px;
    }
}

@media (max-width:992px) {
    .accoRt_block .rtTitle {
        flex-wrap: wrap;
        &.p-left {}
    }
    .accoRt_block .rtTitleWrap {
        width: 100%;
        padding-bottom: 6px;
        p {
            padding-left: 30px;
        }
    }
}

@media (max-width:1199.9px) {
    .fixed_btns {
        span {
            display: none;
        }
        a img {
            margin: 0px;
        }
    }
    .main_content ul,
    .main_content ol {
        li {
            a {
                word-wrap: break-word;
            }
        }
    }
    .alert-area {
        top: 75px;
        z-index: 90;
    }
    .main_header .navbar-brand img {
        max-width: 180px;
    }
    .logo_wrap {
        padding-left: 10px;
    }
    .main_banner {
        flex-direction: column;
    }
    .alert-bar {
        /* top: 75px;*/
    }
    .nav_bottom {
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
    }
    .navbar-toggler {
        margin-right: 0;
        border-radius: 0px;
        height: 75px;
        width: 75px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        outline: 0 !important;
    }
    .top_menu .top_inner_menu {
        flex-wrap: wrap;
    }
    .navbar-toggler .icon-bar {
        width: 30px;
        height: 2px;
        background: $white;
        display: block;
        margin-bottom: 6px;
        border-radius: 100px;
        position: relative;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    .navbar-toggler.active .icon-bar:nth-of-type(1) {
        top: 8px;
        transform: rotate(45deg);
    }
    .navbar-toggler.active .icon-bar:nth-of-type(2) {
        background-color: transparent;
    }
    .navbar-toggler.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .main_header .navbar-nav>li>.dropdown-menu {
        position: static;
        width: 100%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        box-shadow: none;
    }
    .plusMinus {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        text-align: center;
        cursor: pointer;
        top: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .plusMinus::after {
        content: '';
        position: absolute;
        right: 0px;
        background-repeat: no-repeat;
        display: block;
        right: 6px;
        font-weight: 600;
        font-size: 28px;
        color: $primary;
        background-image: url(../img/select-arrow.svg);
        width: 18px;
        height: 12px;
    }
    .plusMinus.minsicon::after {
        transform: rotate(180deg);
    }
    .plus-minus.minus-icon::after {
        /* content: '\2212';*/
    }
    .navbar-nav {
        margin-top: 0px;
        width: 100%;
    }
    .top_menu {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .top_search {
        width: 100%;
        padding: 20px 30px;
        max-width: 100% !important;
        padding-bottom: 12px;
    }
    header .searchbardiv {
        max-width: 100%;
        width: 100%;
    }
    .main_wrapper {}
    .plus-minus::after {}
    .main_header .plus-minus {
        right: 10px;
    }
    .headerActive {
        max-height: calc(100vh - 30px);
        overflow: auto;
    }
    .main_header .navbar-nav>li:hover>a::after {
        display: none;
    }
    .main_header .navbar-nav>li>a {}
    .main_header .social_media {
        justify-content: flex-start;
        order: 2;
        a {
            width: 30px;
            height: 30px;
        }
    }
    .main_header .navbar-collapse {
        padding-bottom: 20px;
        background: #fff;
    }
    .main_header .navbar-nav .dropdown-menu>li>a {}
    .main_header .navbar-nav .dropdown-menu>li {
        margin-bottom: 5px;
    }
}

@media (min-width: 1500px) {
    .img_buttons+.wp-block-buttons {
        max-width: 1400px;
        padding: 0px 8px;
    }
}

@media (min-width:2100px) {
    .wp-block-media-text.is-image-fill .wp-block-media-text__media {
        min-height: 1200px;
    }
}

@media (max-width:768px) and (min-width:430px) {
    .wp-block-media-text.is-image-fill .wp-block-media-text__media {
        min-height: 400px;
    }
}

@media (max-width:1023px) {
    .advgb-tabs-wrapper.advgb-tab-vert-tablet {
        flex-direction: column !important;
    }
    .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop ul.advgb-tabs-panel {
        flex-direction: row;
        flex-grow: 1;
        min-width: 100%;
        max-width: 100%;
        display: flex !important;
        overflow-x: auto;
        justify-content: flex-start;
        overflow-y: hidden;
    }
    .main_wrapper .advgb-tabs-wrapper.advgb-tab-vert-desktop ul.advgb-tabs-panel {
        flex-direction: column;
        flex-grow: 1;
        min-width: 100%;
        max-width: 100%;
        display: flex !important;
        overflow: auto;
        justify-content: flex-start;
    }
    .main_wrapper .advgb-tab-body-wrapper .advgb-tab-body-header {
        display: none !important
    }
    .main_wrapper .advgb-tabs-wrapper.advgb-tab-horz-desktop {
        flex-direction: column;
    }
    .main_wrapper .advgb-tabs-wrapper.advgb-tab-vert-tablet .advgb-tab-body-wrapper {
        max-width: 100%;
    }
    .wp-block-group>.wp-block-quote {
        padding-left: 15px !important;
    }
    .main_content {
        >* {
            padding-left: 15px;
            padding-right: 15px;
        }
        .wp-block-group {
            padding-left: 0px;
            padding-right: 00px;
            >ul,
            >ol {
                padding-left: 30px !important;
            }
        }
        >ul,
        >ol {
            padding-left: 30px !important;
        }
    }
    div.advgb-tab-body>ul,
    div.advgb-tab-body>ol {
        padding-left: 30px !important;
    }
    .wp-block-group>* {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wp-block-group>ol,
    .wp-block-group>ul {
        padding-left: 30px;
    }
    .advgb-tab-body-wrapper div.advgb-tab-body>*,
    .advgb-tab-body-wrapper div.advgb-tab-body>.gform_wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_content .advgb-tab-body .wp-block-group {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:800px) {
    .wp-block-media-text::before {
        background: none;
    }
    .wp-block-media-text.is-stacked-on-mobile {
        grid-template-columns: 100%!important
    }
    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
        grid-column: 1 !important;
        grid-row: 1 !important
    }
    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
        grid-column: 1 !important;
        grid-row: 2 !important;
        padding-top: 20px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 20px !important;
    }
    .wp-block-media-text .wp-block-media-text__content {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width:1024px) {
    .wp-adminify.toplevel_page_gf_edit_forms #gform-form-toolbar {
        width: calc(100% - 290px);
    }
    .gform-admin .gform-flyout.gform-flyout--right {
        right: 70px;
    }
    .logged-in .main_wrapper {
        padding-top: 135px;
    }
}